.card {
    display: block;
    margin-bottom: 30px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.card__container {
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 20;
}

// front + back
.card__container > div {
    background:transparent;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 2px;
}

.card__container > div.back {
    position: absolute;
    height: 100%;
    width: 100%;
    color: #FFF;
    background: #222;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.card:hover > div {
    -webkit-transform: rotateX(20deg);
    transform: rotateX(20deg);
    box-shadow: 0 20px 20px rgba(50,50,50,.2);
}

.flipped.card {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}

.flipped.card:hover .card__container {
    transform: rotateX(160deg);
    -webkit-transform: rotateX(160deg);
    box-shadow: 0 20px 20px rgba(255,255,255,.2);
}