$card-height: 250px;
$card-width: 250px;

.insta-cards {
    display: flex;
	padding-bottom: 1.5em;
	flex-flow: nowrap;
	flex-wrap: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;

	@media(min-width: $screen-xs) {
        margin: 0 auto;
        flex-flow: row;
        flex-wrap: wrap;
        overflow: visible;
        padding-bottom: 0;
        justify-content: space-around;
	}
}


.card {
    display: inline-block;
    min-width: $card-width;
    min-height: $card-height;
    margin: 1em;
    cursor: pointer;
    font-size: 0.9em;
    perspective: 1000px;
    -webkit-perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

    @media(min-width: $screen-md) {
        min-width: $card-width + 50px;
        min-height: $card-height + 50px;
    }
}

.card__container {
    position: relative;
    min-width: $card-width;
    min-height: $card-height;
    z-index: 20;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

    @media(min-width: $screen-md) {
        min-width: $card-width + 50px;
        min-height: $card-height + 50px;
    }
}

// front + back
.card__container > div {
    position: absolute;
    min-width: $card-width;
    min-height: $card-height;
    text-align: center;
    background: transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    @media(min-width: $screen-md) {
        min-width: $card-width + 50px;
        min-height: $card-height + 50px;
    }
}

.card__container > .card__back {
    padding: 1em;
    color: #FFF;
    background: #222;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.flipped.card > div {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.card__cta {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5em;
    background-color: rgba(255,255,255, 0.7);
    transform: 
        rotate(-45deg) 
        translate(25%, -20%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/** 
 * Not really working on touch devices
 * looks shitty anyways

.card:hover > div {
    -webkit-transform: rotateX(20deg);
    transform: rotateX(20deg);
    box-shadow: 0 20px 20px rgba(50,50,50,.2);
}
.flipped.card:hover > div {
    transform: rotateX(160deg);
    box-shadow: 0 20px 20px rgba(255,255,255,.2);
}
**/